.macho-upsell {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.macho-upsell span.wp-ui-notification {
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}

.macho-upsell-options {

}

.macho-upsell-options li {
    margin-bottom: 20px;
    display: inline-block;

}

.macho-upsell .button {
    display: block;
    text-align: center;
}

ul.macho-upsell-requirements {
    font-size: 12px;
}

.macho-upsell-requirements li {
    line-height: 1.75;
    margin-bottom: 10px;
    font-style: italic;
}